.App {
    text-align: center;
    background-color: var(--background-dark);
    color: var(--text-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header {
    background-color: var(--primary-blue);
    padding: 10px 20px;
    color: var(--text-light);
    border-bottom: 3px solid var(--secondary-green);
  }
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #004e89, #007f5f);
    color: #fff;
  }
  
  .auth-container p {
    margin-top: 10px;
    font-size: 1.1rem;
  }
  
  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, #004e89, #007f5f);
    color: #fff;
  }
  
  .homepage-container h1 {
    margin-bottom: 20px;
  }
  